<!-- ----- FOOTER ----- -->

<footer>
    <div class="continer">
      <div class="wrapper">
        <a routerLink=""
          ><img src="../../assets/logo.png" alt="logo"/></a>
      </div>
      <div class="about">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          consequatur dicta veniam enim.
        </p>
      </div>
      <div class="wrapper" >
        <h5>Quick Menu</h5>
        <ul>
          <a routerLink=""><li class="list">HOME</li></a>
          <a routerLink="/tools"><li class="list">APPS</li></a>
          <a routerLink="/about"><li class="list">ABOUT</li></a>
          <a routerLink="/contact"><li class="list">CONTACT</li></a>
        </ul>
      </div>
    </div>
    <div class="copyright">
      <p>Copyright 2024 by <a routerLink="">MiAD</a></p>
    </div>
  </footer>
