<main>
    <div class="continer">
        <div class="left">
            <div class="bg">
                <img src="../../assets/img/img1-Photoroom.png-Photoroom.png" alt="">
            </div>

        </div>
        <div class="right">
            <h2>Hi,This is <span>MiAD</span></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.Odit consequuntur architecto repudiandae earum hic a!</p>
            <div>
                <a routerLink="/about"><button class="btn btn-primary" >About Us</button></a>
            </div>

        </div>
    </div>
    <div class="hero">
        <div class="b-right">
            <h2><span>Angular </span>single page website!!</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci suscipit omnis voluptatem error repudiandae! Voluptatem, culpa iste voluptates commodi explicabo iusto. Reiciendis porro qui molestias illo ea architecto assumenda iure.</p>

            <div>
                <a routerLink="/contact"><button class="btn btn-light" >Contact</button></a>
            </div>
        </div>
        <div class="b-left">
            <img src="../../assets/img/img3-Photoroom.png-Photoroom.png" alt="" >
        </div>
    </div>

</main>
